.el-input {
    .el-input__wrapper {
        position: relative;
        .el-input__inner {
            padding-right: 18px;
        }
        .el-input__suffix {
            position: absolute;
            right: 8px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
